<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<form class="form-horizontal" method="GET" action="email">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Django Mail app</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="to">To</label>  
      <div class="col-md-4">
      <input id="to" name="to" type="text"  class="form-control input-md">
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="sub">Subject</label>  
      <div class="col-md-4">
      <input id="sub" name="sub" type="text" class="form-control input-md">
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="message">Message</label>  
      <div class="col-md-4">
      <input id="message" name="message" type="text"  class="form-control input-md">
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    